/* Título principal */
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    font-size: 4em;
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main__container__reseña{
    height:100vh;
}

.grid__container{
    display: grid;
    grid-template-columns:repeat(1, auto);
    width: 80%;
    margin: 0 20%;
}

.grid__item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ff69b4;
    border: 2px solid aqua;
    border-radius: 20px;
    width: 50rem;
    height: 20vh;
    margin: 10% 0 0 0;
}

.grid__item__img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 5%;
    width: 200px;
    height: 200px;

    align-items: center;
    overflow: hidden;
}

.grid__item__img img{
    width:100%;
    
}