@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* para que ocupe el tamaño real que corresponde*/
    text-decoration: none; /*le saca lo subrayado*/
    list-style: none; /* le saca los puntos a la lista*/
    scroll-behavior: smooth;
    font-family: "Agdasima", sans-serif; /* especifica la fuente del texto*/
}


/*BARRA DE NAVEGACIÓN*/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(221, 222, 215);
    min-height: 70px;
    align-items: center;
    padding: 0 1%;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
}


.logo img{
    height: 50px;
}

.nav-bar{
    display: flex;
    font-weight: 600;
}

.nav-link:hover{
    color: white;
}

.nav-link{
    padding: 0 20px;
}

body{
    background-image: url(../img/fondo.jpg);
    backdrop-filter: brightness(70%);
}

.bienvenida{
    text-align: center;
    font-size: 4rem;
    color: white;
    padding: 150px;
    margin-bottom: -100px;
}

.video-presentacion{
    display: flex;
    justify-content: center;
}

.video-presentacion iframe{
    border-radius: 10px;
}

.texto__container{
    color: white;
    font-size: 2rem;
    text-align: center;
}

.btn__container{
    display: flex; /* le permite al item ser flexible y moverse */
    justify-content: center; /* alinea el elemento de manera vertical*/
    align-items: center; /* alinea el elemento de manera horizontal*/
    margin: 50px 150px; /* le pone un margen invisible, haciendo que se mueva del lugar*/
}

.more__btn{
    padding: 20px 50px; /* establece el área de relleno en los cuatro lados de un elemento a la vez */
    border-radius: 50px;/* le pone radio al borde, haciendo al boton mas circular*/
    background-color: rgb(226, 143, 165);/* le pone un fondo de color rosa al boton*/
    border: 3px solid rgb(134, 221, 194);/* le pone un borde de 3 px solido de color celeste al boton*/
    font-size: 2rem; /* incrementa el tamaño del texto*/
    cursor: pointer; /* al apuntar el boton cambia el cursor*/
    color: rgb(134, 221, 194); /* cambia el color del texto*/
}

.more__btn:hover{
    scale: 1.2; /**/
    transition: 0.30s;
    background-color: rgb(229, 177, 191);/**/

}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.map iframe{
    border-radius: 10px;
}

.pie-de-pagina{
    height: 4rem;
    align-items: center;
    background-color: rgb(134, 221, 194);
    border: 5px groove rgb(226, 143, 165);
    display: flex;
    justify-content: space-between;
}


.icons__container{
    margin-left: 900px;
}
.icons{
    height: 20px;
}

.btn__volver{
    margin: 50px 150px;
}

.img__productos{
    height: 150px;
}

@media (max-width:700px){

    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0;
    } 
    .nav-bar{
        flex-direction: column;
    }
    
}

/* reseñas estilo*/

/* Título principal */
.titulo {
    text-align: center;
    font-size: 4em;
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.grid__container {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
}


.grid__item {
    border: 2px solid aqua;
    border-radius: 10px;
    text-align: center;
    background-color: #ff69b4;
}
.grid__item__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid__item__img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .grid__container {
        width: 100%;
        /* Ocupa todo el ancho de la pantalla */
        grid-template-columns: 1fr;
        /* Cambia a una columna en pantallas pequeñas */
        padding: 5px;
    }



}